body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(93, 77, 77, 0.1);
}


label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #4caf50;
    color: #2bac2b;
    border: none;
    border-radius: 4px;
    font-size: 16px;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

.input-section, .result-section {
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.container-fluid {
    padding: 50px 20px;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-section, .output-section {
    margin-bottom: 20px;
}

.result-section, .gantt-chart {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: #299130;
    border-color: #4bc653;
}

.btn-primary:hover {
    background-color: #40ae2f;
    border-color: #0056b3;
}

